<?xml version="1.0" ?>
<robot name="sawyer" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="gazebo" default="false"/>
  <!-- Sawyer Base URDF -->
  <xacro:include filename="$(find sawyer_description)/urdf/sawyer_base.urdf.xacro">
    <xacro:arg name="gazebo" value="${gazebo}"/>
  </xacro:include>

  <!-- Right End Effector -->
  <!-- xacro:include filename="$(find sawyer_description)/urdf/right_end_effector.urdf.xacro" / -->

</robot>
